

@media screen and (max-width: 600px) {
    main {
        float: left;
        width: 80%;
    }
    
    aside {
        float: right;
        width: 20%;
    }
    
    .clearfix {
        clear: both;
    }
    
}


@media screen and (min-width: 1000px) {
    main {
        float: left;
        width: 80%;
    }
    
    aside {
        float: right;
        width: 20%;
    }
    .clearfix {
        clear: both;
    }
}

